* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	padding-bottom: 100px;

	background: rgb(122,188,255);

	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;

	text-align: center;
}

a {
	color: #e7e388;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #fff;
	}

h1 {
	font-size: 30px;
	margin: 0 0 15px 0;
}

h2 {
	font-size: 18px;
	opacity: 0.6;
	font-weight: normal;
}

p {
	margin-bottom: 10px;
}

footer {
	line-height: 2em;
}

.contents {
	padding: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #222;

	color: white;
	background: #39536B;
}

.sharing {
	margin-top: 20px;
}

.thumb {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto 60px auto;
}
	.thumb img {
		position: absolute;
		top: 0;
		left: 0;
		border: 5px solid white;
		outline: 1px solid #999;
		background: #fff;
	}

.kort {
	-webkit-perspective: 1200px;
	   -moz-perspective: 1200px;
	        perspective: 1200px;

	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.kort img {
	-webkit-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.kort:hover img,
.kort.touching img  {
	-webkit-transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
	   -moz-transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
	        transform: translateX( -120px ) rotateY( 60deg ) translateZ(-80px);
}

.kort:hover img.present ~ img,
.kort.touching img.present ~ img {
	-webkit-transform: translateX( 164px ) rotateY( 50deg );
	   -moz-transform: translateX( 164px ) rotateY( 50deg );
	        transform: translateX( 164px ) rotateY( 50deg );
}

/* CONCAVE TRANSITION */
.kort.concave:hover img.present ~ img,
.kort.concave.touching img.present ~ img {
	-webkit-transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
	   -moz-transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
	        transform: translateX( 120px ) rotateY( -60deg ) translateZ(-80px);
}

/* STACK TRANSITION */
.kort.stack:hover img,
.kort.stack.touching img  {
	-webkit-transform: translateZ(-180px) rotateY( -60deg );
	   -moz-transform: translateZ(-180px) rotateY( -60deg );
	        transform: translateZ(-180px) rotateY( -60deg );
}

.kort.stack:hover img.present ~ img,
.kort.stack.touching img.present ~ img {
	-webkit-transform: translateX( 164px ) rotateY( 50deg );
	   -moz-transform: translateX( 164px ) rotateY( 50deg );
	        transform: translateX( 164px ) rotateY( 50deg );
}

.kort:hover img.present,
.kort.touching img.present  {
	-webkit-transform: none;
	   -moz-transform: none;
	        transform: none;

	margin: 0!important;
}